/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.homeContainer .homeWrapper .projectLogo img {
    display: none;
}

.projectTitle {
    font-family: Hellix;
    color: #3b424a;
}

blockquote {
    background-color: rgba(68, 138, 255, 0.1);
    border-left: 4px solid #448aff;
    padding: 15px 30px 15px 15px;
}
blockquote {
    color: #3e4145;
    font-size: 14px;
    margin: 0;
    margin-bottom: 16px;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 10px;
    font-family: Roboto, Helvetica;
    font-weight: 400;
}

article p img, article iframe {
    display: initial;
}

.imageAlignTop.alignCenter .blockImage {
    max-width: 150px;
}
